body {
    background-color:#1d1d1d !important;
    font-family: "Asap", sans-serif;
    color:#989898;
    margin:10px;
    font-size:16px;
  }
  
  #demo {
    height:100%;
    position:relative;
    overflow:hidden;
  }
  
  
  .green{
    background-color:#6fb936;
  }
          .thumb{
              margin-bottom: 30px;
          }
          
          .page-top{
              margin-top:85px;
          }
  
     
  img.zoom {
      width: 100%;
      height: 200px;
      border-radius:5px;
      object-fit:cover;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
  }
          
   
  .transition {
      -webkit-transform: scale(1.2); 
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
  }
      .modal-header {
     
       border-bottom: none;
  }
      .modal-title {
          color:#000;
      }
      .modal-footer{
        display:none;  
      }
.header h1 , .header h2
{
    color: #ffffff;
    text-align: center;
}
.box
{
    box-shadow: 0px 1px 3px #aaaaaa;
    border-radius: 5px;
    margin-bottom: 40px;
    padding-bottom: 15px;
}
.box .header
{
    text-align: center;
    border-radius: 5px 5px 0 0;
    background: #6c6c6c;
    color: #ffffff;
    padding: 5px;
    font-size: 18px;
}
.box .upper
{
    box-shadow: 0px 1px 3px #aaaaaa;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}
.box form input[type=button], input[type=submit], input[type=reset],input[type=file] {
    background-color: #ff5b57;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
input[type="file"] 
{
	display: inline-block;
	opacity: 0;
	position: absolute;
	/* margin-left: 20px;
	margin-right: 20px;
	padding-top: 30px;
	padding-bottom: 67px; */
	width: 85%;
	z-index: 99;
	margin-top: 10px;
    cursor:pointer;
    border-radius: 5px;
}
.custom-file-upload 
{
	position:relative;
    display: inline-block;
    cursor: pointer;
	padding-top:40px;
	padding-bottom:40px;
	background:url(http://www.a-yachtcharter.com/search-fleet/webaccess/assets/img/uploadIcon.png) #1d1d1d center center no-repeat;
	width:91%;
	border:1px dashed #ff5b57 !important;
	margin-left:20px;
	margin-right:20px;
	margin-top:10px;
    text-align:center;
    border-radius: 5px;
    margin-bottom: 5px;
}
.uploadBox
{
    margin-bottom: 60px;
}
.box button.lower:focus 
{
    border: none;    
}
.box .lower:hover 
{
    border: none;
    background-color: #fff;
    border-color: #ff5b57;
    /* border:1px solid #5D0000; */
    box-shadow: 0 0 0 2px #ff5b57;
    color: #ff5b57;
    transition-duration: 0.4s;
}