{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>PhotoFeed | Powered By Django</title>
		<link rel="stylesheet" type="text/css" href="{% static 'feed/index.css' %}">
	</head>
	<body>
		<div class="container">
			<div class="header">
				<h1>PhotoFeed</h1>
				<h2>Powered By Django</h2>
			</div>
			<div class="box uploadBox">
					<div class="header">
						Upload an Image
					</div>
					<h3>You can Upload your own image below</h3>
					<form action={% url 'upload' %} method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						<!-- <input class="upper" type="file" name="file"/> -->
						<!-- <br /> -->
						<input type="file" name='photo' class="form-control">
						<label for="file-upload" class="custom-file-upload"></label>
						<input class="lower" type="submit" value="Upload File" />
						<!-- <button class="lower" type="submit">Upload</button> -->
					</form>
				</div>
			{% for pic_post in posts %}
				<div class="box">
					<div class="header">
						{{ pic_post.pub_date }}
					</div>
					<img src="{{ pic_post.photo.url }}">
				</div>
			{% endfor %}
		</div>
	</body>
</html>